{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{category}}</h2>

    {% for auction in auctions %}
            
    <div class="auction-item">
        <a class="auction_title" href="{% url 'page' auction.title %}">{{ auction.title }} </a>
        <p> {{ auction.description }}</p>
        <img src="{{ auction.url_image }}" alt="Image for {{ auction.title }}" style="max-width: 200px; max-height: 200px;">
        <p>Current price: ${{ auction.current_price }}</p>
    </div>

    {% empty %}
    <p>There are currenly no listings</p>

    {% endfor %}

   
{% endblock %}